<div class="container">
  <h1 class="heading">トピック一覧</h1>
  <% if @topics.count >= 1 %>
    <ul class="list-group">
      <% @topics.each.with_index(1) do |topic, idx| %>
        <li class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
          <% posts = Post.where(topic_id: topic.id) %>
          <%= link_to("#{idx}. #{topic.title}", "/topics/show/#{topic.id}", class: "li-text") %>
          <span class="badge badge-pill badge-primary text-left"><%= "#{posts.count}" %></span>
          <% if @current_user && topic.user_id == @current_user.id %>
              <%= link_to("削除",
                          "/topics/delete/#{topic.id}",
                          {method: :post,
                           data: {confirm: "削除してもよろしいですか？"},
                           class: "badge badge-secondary float-right"}) %>
          <% end %>
        </li>
  <% end %>
    </ul>
  <% else %>
    <h3>まだスレッドはありません</h3>
  <% end %>

  <% if @current_user and @topics.count < 50 %>
    <div class="card topic-new">
      <div class="card-body">
      <div class="card-title">トピック新規登録</div>
        <%= form_tag("/topics/create") do %>
          <div class="form-group"><input type="text" name="title"></div>
          <div class="form-group"><input type="submit" class="btn btn-primary btn-sm" value="作成"></div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>