<div class="container home">
  <h1>HOME</h1>
  <h3 class="btn btn-default btn-lg btn-block"><%= link_to(name="板一覧", "/topics/index") %></h3>
  <h3 class="btn btn-default btn-lg btn-block"><%= link_to("Login", "/login") %></h3>
  <h3 class="btn btn-default btn-lg btn-block"><%= link_to("Sign up", "/signup") %></h3>
</div>