<div class="container heading">
  <h1>HOME</h1>
  <h3><%= link_to("板一覧", "/topics/index", {class: "btn btn-primary btn-lg btn-block btn-text", role: "button"}) %></h3>
  <h3><%= link_to("Login", "/login", {class: "btn btn-primary btn-lg btn-block btn-text", role: "button"}) %></h3>
  <h3><%= link_to("Sign up", "/signup", {class: "btn btn-primary btn-lg btn-block btn-text", role: "button"}) %></h3>
</div>