<div class="container">
  <img src="<%= @post.image_name.url %>" class="img-responsive center-block">
  <div class="download-btn">
    <%= link_to("download", "/posts/download/#{@post.id}",
                {class: "btn btn-default",
                 download: "#{@post.image_name}"}) %>
  </div>
  <div class="return-btn">
    <%= link_to("戻る", "/topics/show/#{@post.topic_id}", {class: "btn btn-default"}) %>
  </div>
</div>