// Place all the styles related to the posts controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/

#post_new{
  position:fixed;
  bottom:10px;
  right:10px;
  z-index:999;
}

.post_delete_btn{
  position: relative;
  display: inline-block;
  font-weight: bold;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: #00BCD4;
  background: #ECECEC;
  transition: .4s;
}

.post_delete_btn:hover {
  background: #00bcd4;
  color: white;
}

.return-btn {
  margin-top: 15px;
  text-align: center;
  padding-bottom: 50px;
}

.download-btn {
  margin-top: 15px;
  text-align: center;
}

.card span {
  color: #F7F7F7;
  a:link { color: #F7F7F7; }
  a:visited { color: #F7F7F7; }
  a:hover { color: #F7F7F7; }
  a:active { color: #F7F7F7; }
}

.post-new {
  margin-top: 30px;
  margin-bottom: 30px;
}